@import '../../styles/variable.scss';

.detailsInfo {
  min-width: 300px;
  
  li {
    margin: 10px 0;

    .label {
      display: inline-block;
      width: 100px;
      font-weight: bold;
      color: $gray-strong;
    }

    &.info {
      display: flex;

      &.content {
        color: $gray-strong;
      }
    }
  }
}
