@import '../../../styles/variable.scss';

.ordersInfo {
  width: 100%;
  height: 400px;
  border: 1px solid $gray-normal;
  border-radius: 8px;
  background-color: $gray-normal;

  .ordersInfoArea {
    display: flex;
    height: 100%;

    .orderImgArea {
      width: 100%;
      max-width: 340px;
      border-radius: 8px 0 0 8px;
      background-color: $white;

      .orderImage {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .orderInfo {
      display: flex;
      width: 100%;
      margin: 32px;
      border-radius: 8px;
      background-color: $white;

      .orderList {
        position: relative;
        width: 100%;
        padding: 16px;

        .title {
          margin: 30px 0 50px 0;
          font-size: 36px;
          font-weight: bold;
        }

        li {
          margin: 10px 0;

          .label {
            display: inline-block;
            width: 100px;
            font-weight: bold;
            color: $gray-strong;
          }

          &.ticketInfo {
            display: flex;

            &.content {
              color: $gray-strong;
            }
          }
        }
        
        .totalPriceArea {
          position: absolute;
          right: 40px;
          width: 200px;
          height: 70px;
          padding: 16px;
          border-radius: 8px;
          background-color: $purple;

          .priceTitle,
          .priceContent {
            font-weight: normal;
            color: $white;
          }

          .totalPrice {
            margin-right: 10px;
            font-size: 26px;
            font-weight: bold;
            color: $white;
          }
        }
      }

      .dashLine {
        width: 150px;
        border-left: 2px dashed $pink;
      }
    }
  }
}
