@import '../../../../styles/variable.scss';

.userOrders {
  display: flex;
  flex-direction: column;

  .infoArea {
    display: flex;
    justify-content: space-evenly;

    .imageArea {
      width: 150px;
      height: 150px;
      border: 1px solid $gray-normal;
      border-radius: 8px;
      background-color: $white;

      img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
      }
    }

    display: flex;
  }
  
  .cancelBtn {
    margin-top: 20px;
  }
}
