@mixin blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.blind {
  @include blind();
}

// color
$black: #000;
$grey60: #999;
$gray80: #ccc;
$gray88: #e0e0e0;
$gray90: #e6e6e6;
$gray98: #fafafa;
$white: #fff;
$blue: #2d71f7;
$navy: #083e7f;
$red: #ff3636;
