@mixin blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

// color
$red: #fd8684;
$pink: #dfa9dd;
$purple: #8282c8;
$navy: #152027;
$gray-strong: #999;
$gray-normal: #e0e0e0;
$gray-light: #f6f6f6;
$white: #fff;
