@import '../../../../styles/variable.scss';

.ordersInfo {
  width: 100%;
  border: 1px solid $gray-normal;
  border-radius: 8px;
  background-color: $gray-normal;

  .ordersInfoArea {
    display: flex;

    .orderImgArea {
      width: 332px;
      border-radius: 8px 0 0 8px;
      background-color: $white;
      
      .orderImage {
        width: 100%;
        height: 100%;
        border-radius: 8px 0 0 8px;
        object-fit: cover;
      }
    }

    .orderInfo {
      display: flex;
      width: 100%;
      margin: 23px;
      border-radius: 8px;
      background-color: $white;

      .orderList {
        position: relative;
        width: 100%;
        padding: 16px;

        .title {
          margin: 44px 0 60px 0;
          font-size: 36px;
          font-weight: bold;
        }
      }

      .dashLine {
        width: 100px;
        border-left: 2px dashed $pink;
      }
    }
  }
}
