@import '../../styles/variable.scss';

.payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
  
  .paymentTitle {
    display: block;
    width: 100%;
    margin: 20px;
    font-size: 26px;
    font-weight: bold;
  }
  
  .paymentArea {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 400px;
    margin: 40px 0;
    border: 1px solid $gray-normal;
    border-radius: 8px;
    padding: 20px;
  }
}
