@import '../../styles/variable.scss';

.myPage {
  display: flex;
  border: 1px solid $gray-normal;
  border-radius: 8px;

  .title {
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: bold;
  }

  .menuArea {
    width: 200px;
    border-radius: 8px 0 0 8px;
    background-color: $navy;

    .myPageArea {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20px;

      p {
        color: $white;
      }
    }
  }

  .userPage {
    width: 100%;
    padding: 26px;

    .userArea {
      width: 100%;
    }
    .orderList {
      width: 100%;
      border-radius: 8px;
      color: $gray-strong;

      .notOrder {
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
        height: 200px;
        border: 1px solid $gray-normal;
        border-radius: 8px;
        
      }
    }

    .cancelBtn {
      display: flex;
      justify-content: right;
    }
  }
}
