.nav {
  border: 1px solid black;
  display: flex;
  position: absolute;
  width: 100%;
  background-color: white;
  z-index: 1;

  .wrapper {
    position: relative;
    padding: 0 10px;
    margin-right: px;
    margin-left: px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    // background-color: yellow;
    width: 100%;

    .logo {
      position: relative;
      left: 100%;
      margin-top: 10px;
      width: 8%;
      justify-content: center;
      background-color: yellow;
    }

    .header_links {
      position: relative;
      right: 10;
      display: flex;
      align-items: center;
      gap: 100px;
      height: 100%;
      margin: auto;
      color: rgb(95, 91, 91);
      font-size: 20px;
      font-weight: 1;
      font-family: 'Noto Sans KR', PingFang, Helvetica, Arial, sans-serif;
      background-color: yellow;
    }
  }
}
