@import '../../styles/variable.scss';

.nav {
  border-bottom: 1px solid black;
  display: flex;
  position: absolute;
  width: 100%;
  background-color: white;
  z-index: 1;
  margin-top: -60px;
  .wrapper {
    position: relative;
    padding: 0 10px;
    margin-right: px;
    margin-left: px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    // background-color: yellow;
    width: 100%;

    .logo {
      position: relative;
      left: 110%;
      margin-top: 10px;
      width: 8%;
      justify-content: center;
    }

    .header_links {
      position: relative;
      right: 20px;
      display: flex;
      align-items: center;
      gap: 100px;
      height: 100%;
      // margin: auto;

      font-size: 20px;
      font-weight: 1;
      font-family: 'Noto Sans KR', PingFang, Helvetica, Arial, sans-serif;
    }
  }
}
