@import '../../../../styles/variable.scss';

.dashboard {
  overflow: hidden;
  height: 100%;

  .dashboardTitle {
    display: block;
  }

  .dashboardArea {
    height: 100%;
    padding-top: 24px;

    .dashboardGroup {
      overflow-y: auto;
      height: calc(100% - 88px);

      .dashboardInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 24px;
        border: 1px solid $gray-normal;
        border-radius: 8px;

        &:not(:first-child) {
          margin-top: 16px;
        }

        .infoGroup {
          display: flex;

          .info {
            position: relative;
            display: block;

            &:first-child {
              padding-right: 10px;
            }

            &:not(:first-child) {
              padding: 0 10px;

              &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 1px;
                height: 100%;
                background-color: $gray-strong;
              }
            }
          }
        }
      }
    }
  }
}
